.portal-container{
  
  
    height: 100%;
    width: 100%;
    /* max-height: 80vh;
    max-width: 80vw;
    min-width: 300px; */

    /* position: absolute;
    top: 10vh;
    left: 10vw; */
    background-color: rgba(214, 102, 102, 0.1);
    z-index: 100;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.5);
    /* margin-top: 10%; */
    /* margin: auto; */
    /* margin-left: 10%; */
    margin: 0 auto;


}

.staff-login, .grower-login {
   min-height: 90vh;
    max-height: 90vh;
   text-align: center;
   display:flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1em;
    /* margin-top: 5%;  */
  
}
.staff-login {
    background-color: rgba(218, 45, 22, 0.2);
    border-radius: 0.5em;

    
  

}
/* .staff-login:before {
    /* background-color: #00ff00;
    opacity: 0.1; 
    */


.grower-login {
    /* background-color: #00ff00; */
    background-color: rgba(54, 218, 22, 0.2);
    border-radius: 0.5em;

}
.slds-input {
    opacity: 0.9;
    margin: 0.5em;
}

.ff-grower-btn {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #ff4800b9;
    border-radius: 0.5em;
    border: rgb(114, 231, 17);
    border-style: groove;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.ff-staff-btn {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(51, 110, 5, 0.767);
    border-radius: 0.5em;
    border: #ff7b00;
    border-style: groove;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


@media screen and (max-width: 767px) {
    .portal-container {
        
        max-height: 50%;
        max-width: 50%;
        min-width: 300px;
        /* position: absolute;
        top: 10vh;
        left: 10vw; */
        background-color: rgba(214, 102, 102, 0.1);
        z-index: 100;
        padding: 1em;
        border-radius: 0.5em;
        box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.5);
        /* margin-top: 10%; */
        /* margin: auto; */
        /* margin-left: 10%; */
        margin: 0 auto;
    }

    .staff-login, .grower-login {
        min-height: 45vh;
        max-height: 45vh;
        height: 50%;
        text-align: center;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 1em;
        margin: .5em;
    }

    /* .staff-login:before {
        background-color: #ff6000;
        opacity: 0.1;
    }
    
    .grower-login:before {
        background-color: #00ff00;
        opacity: 0.9;
    
    } */
}